
/* HEADER */
#header{
    width: 100%;
}


.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    transform: translate3d(5px, 28px, 0px); 
    border-bottom: 5px solid red;
    top: 10px;
    margin-right: 100px;
    will-change: transform;
}
.dropdown {
    display: inline-block; 
    list-style: none; 
}
.nav-link:hover{
    color: white;
}
.nav-link  {
    color: white;
}
/* PROPAGANDA */
.propaganda {
    text-align: center;
}
.propaganda .image img{
    width: 100%;
    max-width: 90%;
}
/* MAIN */
#content{
    /* background: turquoise; */
    /* margin: 0; */
    /* height: 90vh; */
}
main .image img{
    width: 100%;
    max-width: 90%;
}
main .image img:hover{
    cursor: pointer;
}
.item-1 h6, .item-2 h6, .item-3 h6 {
    padding: 5%;
    font-weight: 600;
    text-align: center;
}

#content h2{
    /* color: red; */
    font-weight: 600;
    padding: 1rem;
    /* text-align: left; */
}


/* POSTAGENS */
.postagem-imagem  img{
   width: 100%;
    max-width: 95%;
    padding-bottom: 1rem;
    height:35vh;
}
.postagens .data-horario {
    color:gray;
    font-size: .2rem;
}
.postagens .manchete a p{
    color: black;
    font-size: 1.44rem;
    font-weight: 800;
}




/* ASIDE */
#aside{
    
}


#footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.945);
    color: white;
    font-size: 1.13rem;
    padding:2rem;
}


@media(max-width:768px){
    aside .image{
        display:none;
    }
    .pais{
        /* display: none; */
    }
    .data-horario{
        /* display: none; */
    }
    .postagem-imagem{
        /* align-items: center; */
    }


    .postagem-imagem  img{
        height:17vh;
     }
}

@media(max-width:425px){
    .manchete a p{
        color: black;
        font-size: 1.44rem;
        font-weight: 800;
        width: 70vw;
        margin-left: 1rem;
    }
    .pais, .manchete{
        /* display: none; */
        margin:0 0.5rem;
    }
   
    
    .postagem-imagem{
        align-items: center;
    }

     .postagem-imagem  img{
        height:20vh;
        background-size: cover;
        width: 500px;
     }

     .blockquoteText{
         width: 40vw;
     }



}